.example {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 40px;
}

.tab{
  margin-left: 40px;
}

.exampleDescription{
  margin: 20px;
}

#optionsList{
  list-style-type: none;
}

.option{
  border-left: 5px solid black;
  padding-left: 5px;
}

main{
  width: 80%;
  margin: auto;
}

body{
  background: rgb(229, 197, 155);
}

code{
  font-size: 1.2em;
  padding: 3px;
}
